<section id = 'features'>
	<div class = 'container'>
		<div class = 'row'>
			<div class = 'col-md-6' id = 'featuresleft'>
				<h3 id = 'borowers' class = 'text-center'>Боржники</h3>
				<ul class="list-group circle-list">
					<li>Вася</li>
					<li >Петя</li>
					<li >Дівчинка Маша</li>
					<li > І Ганнуся</li>
				</ul>
			</div>
			<div class = 'col-md-6'>	
				<h3 class = 'text-center'>Останні збори мешканців</h3>
				<h5 class = 'text-center'>ЛЯляля-тапаля і вся херня</h5>
			</div>
		</div>
	</div>
</section>
