<div class = 'wrapper'>
<header>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-md-4 col-md-push-4 text-center '>
				<p class = 'main-logo'>Площа Григоренка<br>Менцинського 2</p>
			</div>
			<div class = 'col-md-3 col-md-pull-4'>
				<b>Веб-сайт мешканців будинку</b>
			</div>
		</div>
	</div>
</header>
<main>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'main-content'>
				<h3><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b></h3>
			 Vestibulum eu erat eget orci mollis auctor. Donec ornare lectus tempus magna pellentesque, in porta nisl sollicitudin. Aliquam dignissim urna ac molestie suscipit. Nunc est felis, pretium sit amet elit fermentum, malesuada vestibulum urna. Praesent sit amet sapien diam. Quisque fermentum scelerisque leo, vitae volutpat sapien porttitor non. In lectus ligula, egestas eu sem et, fringilla ultricies purus. Praesent tempus nulla et sem aliquet tincidunt at sed massa. Suspendisse facilisis consectetur pharetra. Sed faucibus orci non eros dictum, volutpat aliquet nibh ornare. Donec feugiat nisi ut eros posuere laoreet. Proin ac mattis felis. Donec euismod a nisl vel feugiat. Cras viverra dolor vel mi suscipit, nec tempus tortor tristique. Morbi ultricies quis risus imperdiet laoreet.
			</div>
		</div>
	</div>
</main>
<footer>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<span class = 'text-muted col-md-3'>Веб-сайт мешканців будинку в м.Львів <br> по вулиці Григоренка
			</span>
			<div class = 'col-md-push-7 col-md-2'>
				<ul>
					<li><p>Бухгалтер</p></li>
					<li class = 'text-muted'>Анна</li>
					<li class = 'text-muted'>097 458 61 21</li>
				</ul>
			</div>
			<div class = 'col-md-push-3 col-md-2'>
				<ul>
					<li><p>Управляючий</p></li>
					<li class = 'text-muted'>Ігор </li>
					<li class = 'text-muted'>097 361 28 71</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>